@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Fonts */
@font-face {
    font-family: Iosevka;
    src:
        url('/fonts/iosevka-type-regular.woff2') format('woff2'),
        url('/fonts/iosevka-type-regular.woff') format('woff');
}

/* Global Style */
html, #__layout, #__nuxt {
    @apply h-full;
}

body {
    font-family: Iosevka, 'Courier New', Courier, monospace;
    @apply text-lg text-gray-200 bg-black relative h-full;
}

.img-overlay {
    @apply overflow-hidden relative;
}

.img-overlay img {
    filter: saturate(50%);
}

.img-overlay:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.2' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.command {
    @apply font-semibold;
}

.description {
    @apply pl-4;
}